#La idea es dejar solo los .c, .asm, .mcppi para mikroC y el .hex para 
#utilizar solo mikroProg si fuese el caso

*.txt
*.bmk
*.lst
*.brk
*.cfg
*.cp
*.dbg
*.c.ini
*.dct
*.dlt
*.user.dic
*.log
*.mcl
*.venv/


